<div class="row color-navy m-0 py-2">
    <div class="col-11"></div>
    <div class="col">
        <img src="../../../../assets/Ellipse 8.png" alt="" role="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink" >
            <li><a class="dropdown-item">Profile</a></li>
            <li><a class="dropdown-item" href="">Log out</a></li>
            <li><a class="dropdown-item">Something else here</a></li>
          </ul>
    </div>
</div>