.dashboard-container{
 background-image: url('../../../assets/hero.png')  ;
 background-repeat: no-repeat;

}
.card-1{
    background-color: #FF742E;
}
.card-2{
    background-color: #0E78F9;
}
.card-3{
    background-color: #830EF9;
}
.card-4{
    background-color: #F9A90E;
}