<div class="auth-container w-100 d-flex justify-content-center align-items-center">
  <div class="color-navy border px-4 py-3 rounded-4 bx-shadow border-0">
    <div class="row mt-4">
      <div class="col d-flex align-items-center">
        <img src="../../../assets/Icon.png" alt="logo" />
        <span class="font-family-inter text-light fw-bold fs-2 lh-lg">YOOM</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span class="font-family-plex color-grey"> to continue to YOOM</span>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <button class="border color-navy border-3 px-3 py-3 rounded-3 border-secondary">
          <img src="../../../assets/Mask group.png" alt="google" />
        </button>
        <button class="border color-navy border-3 px-3 py-3 ms-3 rounded-3 border-secondary">
          <img src="../../../assets/githu.png" alt="github" />
        </button>
      </div>
    </div>
    <h2 class="text-light mt-2 ">{{isLogin ? 'Login':'Signup'}}</h2>
    <form action="" [formGroup]="loginReactiveForm">
      <div class="row mt-4">
        <div class="col">

          <label for="email" class="text-light fs-6">Email Address</label>
          <input class="w-100 rounded-3 border-0 p-2 inp-bg text-light caret-blue" type="text" formControlName="email"
            name="" id="" />
          <label for="email" class="text-light fs-6 mt-1">Password</label>
          <input class="w-100 rounded-3 border-0 p-2 inp-bg text-light caret-blue" type="password"
            formControlName="password" name="" id="" />

        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="border rounded-3 p-2 w-100 bg-primary border-0 text-light fs-6 fw-medium mt-3" (click)="onClickLogin(loginReactiveForm)" [disabled]="loginReactiveForm.invalid" role="button" [ngStyle]="{'opacity': loginReactiveForm.invalid ? '0.6' : '1'}">
            CONTINUE
          </button>
        </div>
      </div>
      <div class="row text-light mt-4 mb-4">
        <div class="col fs-12" >
          {{!isLogin? 'Already have an account?': 'Do not have an account?'}}
          <span class="text-primary fs-12" role="button" (click)="SwitchMode()">{{isLogin?'Create new account':'Login'}}</span>
        </div>
        <div class="col fs-12 d-flex justify-content-end gap-2">
          <span role="button">Help </span>
          <span role="button">Privacy </span>
          <span role="button">Terms </span>
        </div>
      </div>
    </form>
  </div>
</div>