.auth-container{
    height: 100vh;
    background-color: #161925;
}
.bx-shadow{
    box-shadow: 0px 29.36px 58.72px 0px #00000029;

}
.inp-bg{
    background: #252A41;

}
.caret-blue{
    caret-color: blue;
}