.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.244);
    backdrop-filter: blur(3px);
    z-index: 12222;
  
    .modal-container {
      width: 550px;
      height: 354px;
      padding: 44px 48px;
      border-radius: 12px;
      background: #171825;
    }
  
    .modal-title input,
    .modal-description input {
      width: 90%;
      padding: 10px 20px;
      border-radius: 12px;
      background: white;
      box-shadow:#c89c9c;
      border: black;
      outline: none;
      font-weight: 400;
  
      &::placeholder {
        color: #b5b5b5;
        font-weight: 400;
      }
    }
  
    .modal-title input {
      font-size: 15px;
    }
  
    .modal-description input {
      margin-top: 1rem;
      height: 40px;
      font-size: 16px;
    }
  

  }
  .validation {
    color: red;
    font-size: 12px;
  }