
<div class="dashboard-container mx-3 mt-3 p-5 rounded-4">
  <div class="row g-0">
    <div class="col text-light">Upcoming Meeting at: {{upcomingMeetingTime | date : "hh:mm a"}}</div>
  </div>
  <div class="row mt-5 pt-3">
    <div class="col">
      <h1 class="d-inline text-light fw-bold">{{currentTime}}</h1>
      <span class="text-light">{{period}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col text-light">{{currentDate}}</div>
  </div>
</div>
<div class="dashboard-cards mx-3 mt-3">
  <div class="row justify-content-around ">
    <div class="col-2 rounded-4 card p-2 card-1 " role="button" (click)="onClickNewMeeting()">
      <img
        class="card-img w-25  "
        role="button"

        src="../../../assets/plus.png"
        alt=""
      />
      <div class="card-body mt-5">
        <p class="card-text text-light fw-bold fs-5 m-0">New Meeting</p>
        <p class="card-text text-light">Setup a new recording</p>
      </div>
    </div>
    <div class=" col-2 rounded-4 card p-2 card-2" role="button">
      <img
        class="card-img w-25 m-1"
        role="button"
        src="../../../assets/join-meeting.png"
        alt=""
      />
      <div class="card-body mt-5">
        <p class="card-text text-light fw-bold fs-5 m-0">Join Meeting</p>
        <p class="card-text text-light">via invitation link</p>
      </div>
    </div>
    <div class="col-2 rounded-4 card p-2 card-3" role="button">
      <img
        class="card-img w-25 m-1 "
        role="button"
        src="../../../assets/schedule.png"
        alt=""
      />
      <div class="card-body mt-5">
        <p class="card-text text-light fw-bold fs-5 m-0">Schedule Meeting</p>
        <p class="card-text text-light">Plan your Meeting</p>
      </div>
    </div>
    <div class="col-2 rounded-4 card p-2  card-4" role="button">
      <img
        class="card-img w-25 m-1"
        role="button"
        src="../../../assets/vedio.png"
        alt=""
      />
      <div class="card-body mt-5">
        <p class="card-text text-light fw-bold fs-5 m-0">View Recordings</p>
        <p class="card-text text-light">Meeting recordings</p>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row mx-3 mt-3">
    <div class="header d-flex justify-content-between text-light">
        <div class="fw-bold fs-4">
            Today’s Upcoming Meetings
        </div>
        <div role="button">
            See all
        </div>
    </div>
    

</div> -->

<app-header>
  
</app-header>
<div class="container-fluid">
  <div class="mb-4">
    <div class="col-6 d-flex align-items-stretch">
      <app-card class="w-100 d-flex  "></app-card>
    </div>
  </div>
</div>
<app-modal [isModalActive]="isModalActive" (dataChange)="updateModalStatus($event)" (dataChangeForMeetings)="updateMeetings($event)"></app-modal>