<app-header></app-header>
<div class="personal-room-container mx-3 mt-3    text-light">
   <div class="row ">
  <div class="col-2">Topic:</div>
  <div class="col fw-bold">JS Mastery’s Personal Meeting Room</div>
</div>
<div class="row">
  <div class="col-2">Meeting ID:</div>
  <div class="col fw-bold">324 531 3821</div>
</div>
<div class="row">
  <div class="col-2">Passcode:</div>
  <div class="col">******** <span class="text-primary " role="button">Show</span></div>
</div>
<div class="row">
  <div class="col-2">Invite Link:</div>
  <div class="col text-primary " role="button">https://us93web.qoom.us/345672?pwd=3f2uiui3h4un134if</div>
</div>
<div class="d-flex  gap-2 mt-3">
    <button class="btn btn-custom text-light">Start the meeting</button>
    <button class="btn bg-custom text-light d-flex align-items-center gap-2"><img src="../../../assets/tabler_copy.png" alt="">Copy Invitation</button>
    <button class="btn bg-navy text-light border-secondary d-flex align-items-center gap-2"><img src="../../../assets/tabler_edit.png" alt="">Edit</button>
    <button class="btn bg-navy text-light border-secondary d-flex align-items-center gap-2"><img src="../../../assets/mingcute_delete-line.png" alt="">Delete</button>
</div> 
</div>

<hr class="text-light">
<div class="h-100">

    <button class="btn bg-custom text-light d-flex align-items-center gap-2 mt-2 mx-3"><img src="../../../assets/ic_round-plus.png" alt="">Create a new room</button>
</div>
