<div class="sidebar-container">
  <div class="row">
    <div class="col d-flex align-items-center">
      <img class="ms-3 mt-1" src="../../../assets/Icon.png" alt="logo" />
      <span class="font-family-inter text-light fw-bold fs-5 lh-lg mt-1">YOOM</span>
    </div>
  </div>
  <div class="sidebar-items mt-4 ms-2">
    <div class="list-group " >
      <div>
        <a routerLink="dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="list-group-item list-group-item-action border-0 color-navy text-light " role="button">
          <img src="../../../../assets/home.png" alt=""  />
         <span class="ms-3 fw-bold">Home</span> 
        </a>
      </div>
      <div>
        <a routerLink="upcoming"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="list-group-item list-group-item-action border-0  color-navy text-light "
        role="button"
          ><img src="../../../../assets/Group.png" alt="" /> 
         <span class="ms-3 fw-bold">Upcoming</span> 
          </a
        >
      </div>
      <div>
        <a routerLink="previous" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="list-group-item list-group-item-action border-0  color-navy text-light "  role="button">
            
          <img src="../../../../assets/previous.png" alt="" />
          <span class="ms-3 fw-bold">Previous</span></a
        >   
      </div>
      <div>
        <a routerLink="recordings" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"  class="list-group-item list-group-item-action border-0  color-navy text-light "  role="button"
          ><img src="../../../../assets/Video.png" alt="" />
          <span class="ms-3 fw-bold">Recordings</span></a
        >
      </div>
      <div>
        <a routerLink="personal-room" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="list-group-item list-group-item-action border-0  color-navy text-light "  role="button"
          ><img src="../../../../assets/Vector.png" alt="" />
          <span class="ms-3 fw-bold">
            Personal Room
          </span></a
        >
      </div>

    </div>
  </div>
</div>
